<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('includes/style.ejs') %>
</head>
<body>
        <%- include('includes/navbar.ejs') %>
        <%- include('includes/diploma-courses-banner.ejs') %>
        <%- include('includes/diploma-courses-content.ejs') %>
    
        <%- include('includes/javascript.ejs') %>
</body>
</html>