<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('includes/style.ejs') %>
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <%- include('includes/home-banner.ejs') %>
    <main id="main-page">
            <%- include('includes/services.ejs') %>

            <%- include('includes/educations.ejs') %>

            <%- include('includes/tab.ejs') %>
            <%- include('includes/video.ejs') %>
            <%- include('includes/subscribe.ejs') %>
            <%- include('includes/footer.ejs') %>
            <%- include('includes/scrolltotop.ejs') %>
    </main>

    <%- include('includes/javascript.ejs') %>
</body>
</html>